@font-face {
  font-family: 'Exo 2';
  src: url('https://fonts.googleapis.com/css?family=Exo+2:700,800,900');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  color: white;
  height: 100%;
}

#surface, canvas {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
