@import url('https://fonts.googleapis.com/css?family=Exo+2:700,800,900');


@font-face {
  font-family: 'DDC Hardware';
  src: url('fonts/ddc-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html, body{
  margin:0;
  }


@font-face {
  font-family: 'DDC Hardware Condensed';
  src: url('fonts/ddc-condensed.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: black;
  /* font-family: 'DDC Hardware Condensed'; */
  font-family: 'Exo 2', sans-serif;
  color: white;
  /* cursor: none; */
}

html, body, #root, .App {
  height: 100%;
}

#surface, canvas {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#gameover {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.GameOverInner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  /*background-image: url(/assets/gameover-bg.png);*/
}

.GameOver-title {
  width: 60%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.GameOver-score {
  font-size: 12vh;
}

@keyframes blink-animation {
  from,
   49.9% {
     opacity: 0;
   }
   50%,
   to {
     opacity: 1;
   }
}


.GameOver-cta {
  /*width: 60%;*/
  opacity: 0;
  animation: blink-animation 1.5s linear infinite;
  visibility: hidden;
  /*animation-delay: 7.5s;*/
}

#gamebefore {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.GameBeforeInner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  /* z-index: 10000%; */
  transition-property: opacity;
  transition-duration: 1s;
}

.Doors {
  height: 100%;
  display: flex;
  /*transition-delay: 2s;*/
}

.Door {
  transition-property: transform;
  transition-duration: 2s;
  margin-top: -1px;
}

.Door.right {
  transform: translateX(-5.220vw);
  /*margin-top: -5px;*/
}

.Door.left.opened {
  transform: translateX(-55vw);
}

.Door.right.opened {
  transform: translateX(50vw);
}

.Doors > img {
  /*width: 50%;*/
}

.hidden {
  opacity: 0;
}

.GameBefore-logo {
  /*position: fixed;*/
  /*top: 13vh;*/
  margin-top: 13vh;
  width: 80%;
}

.GameInner-buttontext {
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: 'DDC Hardware'; */
  font-family: 'Exo 2', sans-serif;
  animation: blink-animation 1.5s linear infinite;
}


.GameInner-buttontext {
  margin-top: 5vh;
  font-size: 12vh;
}

.GameInner-buttontext-button {
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

.Splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  height: 101vh; /* XXX: why */
  z-index: 10000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Splash-button {
  font-size: 50px;
  border-radius: 10px;
  font-family: 'DDC Hardware';
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  color: black;
  border: 5px solid white;
  user-select: none;
}

.Splash-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.Splash-instructions {
  font-size: 26px;
  max-width: 600px;
  line-height: 30px;
  white-space: pre-wrap;
}
