html,
body,
#root,
.App {
  height: 100%;
  font-family: 'Exo 2';
  text-transform: uppercase;
  letter-spacing: 1px;
}

.App {
  text-align: center;
  font-size: 20px;
  overflow: hidden;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  user-select: none;
  flex-direction: column;
}

.ModeTabs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.ModeTab {
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 0 0 7.5px 7.5px;
  margin: 0 7.5px 0 7.5px;
  border: 2px solid white;
  border-top: 0;
}

.ModeTab.active {
  color: black;
  background-color: white;
}
