.Cheat {
  border-radius: 10px;
  border: 2px solid white;
  padding: 15px 20px 15px 20px;
  /* width: 250px; */
  /* height: 50px; */
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.KillPlayer {
  background-color: rgb(218, 40, 40);
}

.Cheat:hover {
  cursor: pointer;
}

.Cheat:active {
  background-color: white;
  color: black;
}

.Cheats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 25px;
  /* height: 100%; */
  flex-direction: column;
}

.VolumeSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* width: 250px; */
  font-size: 18px;
}

.VolumeSlider .rangeslider {
  width: 200px;
}

.VolumeSlider .VolumeValue {
  width: 70px;
}

.VolumeSlider .VolumeTarget {
  width: 100px;
}

.VolumeControls {
  border-radius: 10px;
  border: 2px solid white;
  padding: 15px 20px 15px 20px;
  margin: 15px;
}

.DebugFlags {
  flex-direction: column-reverse;
  border-radius: 10px;
  border: 2px solid white;
  padding: 15px 20px 15px 20px;
  padding-bottom: 0;
}

.DebugFlags fieldset {
  border: 0;
}

.DebugFlags fieldset > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  margin-bottom: 10px;
}

.DebugFlags label {
  margin-left: 10px;
}
